@import "./variables.css";
@import "./reset.css";

.body--theme-two {
    background: var(--clr-theme-2-bg-200);
    color: var(--clr-theme-2-text-500);
}

.calculator__display--theme-two {
    background: var(--clr-theme-2-bg-300);
    color: var(--clr-theme-2-text-500);
}

.calculator__buttons--theme-two {
    background: var(--clr-theme-2-bg-100);
    color: var(--clr-theme-2-text-500);
}

.calculator__buttons--theme-two > * {
    background: var(--clr-theme-2-key-100);
    border-bottom: 5px solid var(--clr-theme-2-key-300);
}

.calculator__equals--theme-two {
    background: var(--clr-theme-2-key-600);
    border-bottom: 5px solid var(--clr-theme-2-key-700);
    color: var(----clr-theme-2-text-100);
}

.calculator__delete--theme-two,
.calculator__reset--theme-two {
    background: var(--clr-theme-2-key-400);
    border-bottom: 5px solid var(--clr-theme-2-key-500);
    color: var(----clr-theme-2-text-100);
}

.label__--theme-two {
    background: var(--clr-theme-2-bg-100);
}

.ball__--theme-two {
    background: var(--clr-theme-2-key-600);
}
